html {
    font-size: 14px;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(244,97,62,1) 50%, rgba(135,206,250,1) 100%);
}

main, footer {
    background-color: white;
}


h3, h5, h4 {
    color: #359ebf;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.profileImg {
    width: 200px;
    border-radius: 50%;
}

.profileContainer {
    display: flex;
    flex-direction: column;
}

.listStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

#hideHistory {
    display: none;
}
